@media only screen and (max-width: 1000px) {
  .header {
    background-image: url(./../img/header/bg-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 72px 72px;
    min-width: 393px;
    height: 700px;
  }

  .header-list {
    display: none;
  }

  .header-container {
    max-width: 393px;
    padding: 18px 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    width: 52px;
    height: 18px;
    position: relative;
    cursor: pointer;
  }

  .header-logo-name {
    font-weight: 500;
    font-size: 12px;
    color: $white;
    text-decoration: none;
    margin-left: 25px;
  }

  .header-logo-square {
    border-radius: 4px;
    width: 12px;
    height: 12px;
    background: #c07ff2;
    position: absolute;
  }

  .header-logo-circle {
    border-radius: 8px;
    width: 12px;
    height: 12px;
    background: #09aff4;
    position: absolute;
    top: 6px;
    left: 7px;
  }

  .header-item {
    border-radius: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $white;
  }

  .mobile-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .header-center {
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-title {
    color: $white;
    text-align: center;
  }

  .header-p1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: $light-gray;
    margin: 20px auto 0 auto;
    width: 286px;
  }

  .header-img1 {
    position: absolute;
    top: 178px;
    left: 0;
  }

  .header-img2 {
    display: block;
    width: 192px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-img3 {
    display: block;
    margin: 0 auto;
    margin-top: 41px;
    width: 88px;
  }

  .header-p2 {
    width: 205px;
    margin-top: 13px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $light-gray;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: $black;
    border-radius: 40px;
    padding: 16px 32px;
    width: 202px;
    height: 38px;
    background-color: $white;
    cursor: pointer;
    &:hover {
      background-color: aqua;
    }
  }

  .burger {
    position: relative;
    width: 20px;
    height: 14px;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
  }

  .burger-input[type="checkbox"] {
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    transition: 0.3s;
  }

  .burger span:nth-of-type(1) {
    top: 0;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
  }

  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  .burger input:checked ~ span:nth-of-type(2) {
    opacity: 0;
    width: 0%;
  }
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 14px;
    left: 5px;
  }
}

@media only screen and (min-width: 1001px) {
  .header {
    background-image: url(../img/header/bg-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 72px 72px;
    width: 100%;
    min-width: 1100px;
    height: 737px;
  }

  .header-logo,
  .mobile-btn {
    display: none;
  }

  .header-container {
    max-width: 1104px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  .header-item {
    border-radius: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $white;
    text-decoration: none;
    &:hover {
      color: aqua;
    }
  }

  .header-center {
    margin-top: 142px;
  }

  .header-title {
    width: 511px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    color: $white;
  }

  .header-p1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $light-gray;
    width: 474px;
    margin-top: 20px;
  }

  .header-img1 {
    position: absolute;
    width: 423px;
    top: 110px;
    right: 271px;
  }

  .header-img2 {
    position: absolute;
    top: 110px;
    right: 107px;
  }

  .header-img3 {
    position: absolute;
    top: 576px;
    right: 344px;
    width: 168px;
  }

  .header-p2 {
    width: 205px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $light-gray;
    position: absolute;
    top: 581px;
    right: 107px;
    margin: 0;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 80px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: $black;
    border-radius: 40px;
    padding: 16px 32px;
    width: 232px;
    height: 54px;
    background-color: $white;
    cursor: pointer;
    &:hover {
      background-color: aqua;
    }
  }
  
  .burger-input[type="checkbox"] {
    display: none;
  }
}
