@media only screen and (max-width: 1000px) {
  .add {
    position: absolute;
    bottom: 21px;
    right: 132px;  
  }
}

@media only screen and (min-width: 1001px) {
  .add {
    position: absolute;
    bottom: 70px;
    right: 284px;  
  }
}