@import 'normalize.css';
@import 'variables.scss';
@import 'typography.scss';
@import 'header.scss';
@import 'courses.scss';
@import 'speakers.scss';
@import 'cases.scss';
@import 'teaching.scss';
@import 'career.scss';
@import 'program.scss';
@import 'society.scss';
@import 'tariffs.scss';
@import 'reviews.scss';
@import 'connection.scss';
@import 'footer.scss';
@import 'modal.scss';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	font-family: 'Jost', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}


