$white: #FFFFFF;
$black: #000000;
$gray: #1A1A1A;
$light-gray: #B2B2B2;
$linear: linear-gradient(#919191, #E9E9E9);
$light-blue-gray: #E2E6EE;
$dark-slate-gray: #585454;
$blue-violet: #5245DD;
$golden-yellow: #FFD400;
$medium-gray: #767678;
$dark-gray: #1B1B1B;
$light-silver: #B4B4B4;
$lavender: #C07FF2;
$light-blue: #74B7FE;


